* { 
    padding: 0;
    margin: 0;

}
.container{
    text-decoration: none;
    color: black;

}
.about{
    text-decoration: none;
    padding: 5px;
}
.store{
    padding: 5px;

}
.gmail{

padding: 5px;
}
.images